* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@media print {
  * {
    -webkit-print-color-adjust: exact; } }
@page {
  size: landscape;
  margin: 0; }
[data-red] {
  color: red; }

article {
  -webkit-transition: background 0.6s ease;
  transition: background 0.6s ease;
  display: none; }
  article.bespoke-parent {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px; }
    @media print {
      article.bespoke-parent {
        overflow: visible;
        position: static; } }

.bespoke-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 640px;
  height: 480px;
  position: absolute;
  top: 50%;
  margin-top: -240px;
  left: 50%;
  margin-left: -320px;
  padding: 40px;
  border-radius: 0; }
  @media print {
    .bespoke-slide {
      zoom: 1 !important;
      height: 743px;
      width: 100%;
      page-break-before: always;
      position: static;
      margin: 0; } }
  .bespoke-slide > *:nth-child(1) {
    -webkit-transition: opacity 0.6s 0s;
    transition: opacity 0.6s 0s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(2) {
    -webkit-transition: opacity 0.6s 0.4s;
    transition: opacity 0.6s 0.4s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(3) {
    -webkit-transition: opacity 0.6s 0.8s;
    transition: opacity 0.6s 0.8s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(4) {
    -webkit-transition: opacity 0.6s 1.2s;
    transition: opacity 0.6s 1.2s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(5) {
    -webkit-transition: opacity 0.6s 1.6s;
    transition: opacity 0.6s 1.6s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(6) {
    -webkit-transition: opacity 0.6s 2s;
    transition: opacity 0.6s 2s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(7) {
    -webkit-transition: opacity 0.6s 2.4s;
    transition: opacity 0.6s 2.4s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(8) {
    -webkit-transition: opacity 0.6s 2.8s;
    transition: opacity 0.6s 2.8s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(9) {
    -webkit-transition: opacity 0.6s 3.2s;
    transition: opacity 0.6s 3.2s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(10) {
    -webkit-transition: opacity 0.6s 3.6s;
    transition: opacity 0.6s 3.6s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(11) {
    -webkit-transition: opacity 0.6s 4s;
    transition: opacity 0.6s 4s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(12) {
    -webkit-transition: opacity 0.6s 4.4s;
    transition: opacity 0.6s 4.4s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(13) {
    -webkit-transition: opacity 0.6s 4.8s;
    transition: opacity 0.6s 4.8s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(14) {
    -webkit-transition: opacity 0.6s 5.2s;
    transition: opacity 0.6s 5.2s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(15) {
    -webkit-transition: opacity 0.6s 5.6s;
    transition: opacity 0.6s 5.6s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(16) {
    -webkit-transition: opacity 0.6s 6s;
    transition: opacity 0.6s 6s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(17) {
    -webkit-transition: opacity 0.6s 6.4s;
    transition: opacity 0.6s 6.4s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(18) {
    -webkit-transition: opacity 0.6s 6.8s;
    transition: opacity 0.6s 6.8s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(19) {
    -webkit-transition: opacity 0.6s 7.2s;
    transition: opacity 0.6s 7.2s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide > *:nth-child(20) {
    -webkit-transition: opacity 0.6s 7.6s;
    transition: opacity 0.6s 7.6s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .bespoke-slide.nobuild > * {
    -webkit-transition: none;
    transition: none; }
  .bespoke-slide iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    pointer-events: none; }
  .bespoke-slide img {
    max-width: 100%;
    max-height: 100%; }
  .bespoke-slide .bespoke-bullet {
    -webkit-transition-delay: 0;
    transition-delay: 0; }
  .bespoke-slide .bespoke-bullet-inactive {
    opacity: 0; }
  .bespoke-slide .fadeout {
    -webkit-transition: opacity 2s 2s;
    transition: opacity 2s 2s;
    opacity: 1; }
  .bespoke-slide .language-javascript {
    text-align: left; }

.bespoke-inactive {
  opacity: 0;
  pointer-events: none; }
  @media print {
    .bespoke-inactive {
      opacity: 1; } }

.bespoke-active {
  opacity: 1; }
  .bespoke-active .buildin {
    opacity: 1; }
    .bespoke-active .buildin:nth-child(1) {
      -webkit-transition: opacity 0.3s 0.3s;
      transition: opacity 0.3s 0.3s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(2) {
      -webkit-transition: opacity 0.3s 0.4s;
      transition: opacity 0.3s 0.4s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(3) {
      -webkit-transition: opacity 0.3s 0.5s;
      transition: opacity 0.3s 0.5s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(4) {
      -webkit-transition: opacity 0.3s 0.6s;
      transition: opacity 0.3s 0.6s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(5) {
      -webkit-transition: opacity 0.3s 0.7s;
      transition: opacity 0.3s 0.7s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(6) {
      -webkit-transition: opacity 0.3s 0.8s;
      transition: opacity 0.3s 0.8s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(7) {
      -webkit-transition: opacity 0.3s 0.9s;
      transition: opacity 0.3s 0.9s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(8) {
      -webkit-transition: opacity 0.3s 1s;
      transition: opacity 0.3s 1s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(9) {
      -webkit-transition: opacity 0.3s 1.1s;
      transition: opacity 0.3s 1.1s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(10) {
      -webkit-transition: opacity 0.3s 1.2s;
      transition: opacity 0.3s 1.2s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(11) {
      -webkit-transition: opacity 0.3s 1.3s;
      transition: opacity 0.3s 1.3s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(12) {
      -webkit-transition: opacity 0.3s 1.4s;
      transition: opacity 0.3s 1.4s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(13) {
      -webkit-transition: opacity 0.3s 1.5s;
      transition: opacity 0.3s 1.5s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(14) {
      -webkit-transition: opacity 0.3s 1.6s;
      transition: opacity 0.3s 1.6s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(15) {
      -webkit-transition: opacity 0.3s 1.7s;
      transition: opacity 0.3s 1.7s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(16) {
      -webkit-transition: opacity 0.3s 1.8s;
      transition: opacity 0.3s 1.8s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(17) {
      -webkit-transition: opacity 0.3s 1.9s;
      transition: opacity 0.3s 1.9s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(18) {
      -webkit-transition: opacity 0.3s 2s;
      transition: opacity 0.3s 2s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(19) {
      -webkit-transition: opacity 0.3s 2.1s;
      transition: opacity 0.3s 2.1s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
    .bespoke-active .buildin:nth-child(20) {
      -webkit-transition: opacity 0.3s 2.2s;
      transition: opacity 0.3s 2.2s;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
  .bespoke-active .fadeout {
    opacity: 0.2; }

.bespoke-after > * {
  opacity: 0;
  -webkit-transition: none !important;
  transition: none !important; }
.bespoke-after .buildin {
  opacity: 0; }

.bespoke-scale-parent {
  -webkit-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  @media print {
    .bespoke-scale-parent {
      -webkit-transform: none !important;
      -ms-transform: none !important;
      transform: none !important; } }

.emphatic,
.emphatic .bespoke-slide {
  background: #eaeaea; }

pre {
  padding: 26px !important;
  border-radius: 8px; }

body {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font: 18px/1.5 brandon-grotesque, helvetica, arial, sans-serif;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 0 2px black, 0 0 40px black; }
  :root.wf-loading body {
    -webkit-transition: none;
    transition: none;
    opacity: 0; }

h1 {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -2px;
  margin: 16px 0;
  font-weight: 900; }

h2 {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -2px;
  margin: 16px 0;
  font-weight: 300; }

h3 {
  font-size: 48px;
  font-weight: 300;
  margin: 16px 0; }

h4 {
  font-size: 36px;
  font-weight: 300;
  margin: 16px 0; }

ul {
  font-size: 48px;
  font-weight: 700;
  list-style: none; }

li {
  margin-bottom: 12px;
  text-align: left;
  width: 100%; }

p {
  margin: 0 100px 12px;
  line-height: 22px; }

a {
  color: #0089f3;
  text-decoration: none; }

hr {
  border: none;
  border-top: dotted 1px rgba(255, 255, 255, 0.3);
  width: 100%;
  margin: 24px 0; }

.mid {
  font-size: 36px;
  font-family: adobe-jenson-pro, Georgia;
  font-style: italic;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .mid::before, .mid::after {
    content: '';
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    border-top: dotted 1px rgba(255, 255, 255, 0.3); }
  .mid::before {
    margin-right: 16px; }
  .mid::after {
    margin-left: 16px; }

.person, .me {
  height: 72px;
  width: 72px;
  background-repeat: no-repeat;
  -webkit-background-size: 72px;
  background-size: 72px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px black, 0 0 0 3px white;
  box-shadow: 0 0 0 2px black, 0 0 0 3px white;
  margin: 0 16px; }

.me {
  background-image: url("../images/me_headshot.jpg"); }

.bootstrap li {
  font-size: 50%; }

.line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.leftalign {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -webkit-align-items: left;
  -ms-flex-align: left;
  align-items: left; }

.ta-left {
  width: 100%;
  text-align: left; }

.nope {
  text-decoration: line-through; }

.red {
  color: red; }

.feat {
  color: #39CCCC; }

.gif-2012 {
  background-color: black; }
  .gif-2012::before {
    content: '';
    position: absolute;
    height: 20%;
    width: 20%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(http://celebdailynews.com/wp-content/uploads/2013/06/BrowserPreview_tmp.gif);
    background-position: 100% 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    opacity: 0.5; }

.gif-shocked {
  background-color: black; }
  .gif-shocked::before {
    content: '';
    position: absolute;
    height: 20%;
    width: 20%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(http://i989.photobucket.com/albums/af13/dwigley1/6yvc9yh.gif);
    background-position: 50% 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    opacity: 0.5; }

.gif-skull {
  background: url("http://spinningflamingskull.com/images/an_spinning_flaming_skull.gif"); }

.gif-skull-2 {
  background: url("http://spinningflamingskull.com/images/an_spinning_flaming_skull.gif");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.fact {
  background-color: black; }
  .fact::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(https://dl.dropboxusercontent.com/u/1349167/carl_sagan_good.gif);
    background-position: 50% 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 0.4; }

.not-sure-if-right {
  background-color: black; }
  .not-sure-if-right::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(http://www.reactiongifs.us/wp-content/uploads/2013/08/shaking_head_breaking_bad.gif);
    background-position: 80% 0%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 0.5; }

.thumbsup {
  background-color: black; }
  .thumbsup::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(http://nyobetabeat.files.wordpress.com/2013/08/emoji-thumbs-up-150.jpg);
    background-position: 50% 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 0.2; }

.amazed {
  background-color: black; }
  .amazed::before {
    content: '';
    position: absolute;
    height: 33.33333%;
    width: 33.33333%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(http://media.giphy.com/media/zz00w5nNFMnPq/giphy.gif);
    background-position: 50% 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    opacity: 1; }

.okthen {
  background-color: black; }
  .okthen::before {
    content: '';
    position: absolute;
    height: 20%;
    width: 20%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(http://files-cdn.formspring.me/photos/20120614/n4fda79a2cd7ec.gif);
    background-position: 50% 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    opacity: 0.5; }

.light {
  background-color: #001F3F; }

.yeahnah {
  background-color: black; }
  .yeahnah::before {
    content: '';
    position: absolute;
    height: 20%;
    width: 20%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(http://media.giphy.com/media/Pr3jpBoQLuovu/giphy.gif);
    background-position: 100% 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    opacity: 1; }

.yep {
  background-color: black; }
  .yep::before {
    content: '';
    position: absolute;
    height: 20%;
    width: 20%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(http://media.giphy.com/media/jN0ygssTH2hoI/giphy.gif);
    background-position: 50% 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    opacity: 1; }

.disgunbgood {
  background-color: black; }
  .disgunbgood::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(http://media.giphy.com/media/edho4s1lWEawo/giphy.gif);
    background-position: 50% 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; }

.ticked {
  background-color: black; }
  .ticked::before {
    content: '';
    position: absolute;
    height: 20%;
    width: 20%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(http://media.giphy.com/media/13TBw9SxMnz8pW/giphy.gif);
    background-position: 50% 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    opacity: 0.5; }

.logo {
  width: 250px;
  height: 250px;
  display: block;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat; }

.cssconf .logo {
  background-color: #ff6600;
  background-image: url(http://2014.cssconf.com.au/images/logo.svg); }

.jsconf .logo {
  background-image: url(http://jsconf.eu/2011/js.png);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.decompress .logo {
  background-image: url(/images/decompress.png); }
